<footer class="footer">

    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre
            </h2>

            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur incidunt consectetur quis a vero repudiandae maxime commodi itaque maiores debitis voluptatem, qui aperiam doloremque! Ullam iusto eos in? Accusamus, esse.
            </p>
        </section>

        <address>
            <h2 class="footer__title">
                Contato
            </h2>
            
            <ul>
                <li><i class="fa-regular fa-envelope"></i>    contato@charlobiju.com</li>
                <li><i class="fa-solid fa-phone"></i>    55 11 5858-9000</li>
                <li><i class="fa-brands fa-whatsapp"></i>    55 11 9 8888 8888</li>
            </ul>
        </address>
    </div>

    <section class="footer__copyright">
        &copy; Todos os direitos reservados - AkaCode.Tech
    </section>

</footer>
